@import "tailwindcss";

@import "./event-description";

@theme {
  --font-hepta-slab: "Hepta Slab", serif;
  --font-libre-franklin: "Libre Franklin", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
